{% set navigation_bar =
  [
    ('/', 'index', 'Index'),
    ('/about/', 'about', 'About'),
    ('/contacts/', 'contacts', 'Contacts'),
    ('/admin/', 'admin', 'Course administrator'),
    ('/user_add/', 'user_add', 'Add users'),
    ('/course_edit/', 'course_edit', 'Course edit'),
  ]
%}

{% set active_page = active_page|default('index') %}

<ul id="links-menu">
  {% for href, id, caption in navigation_bar %}
    <li>
      <a href="{{ href|e }}" {% if id == active_page %} class="active"{% endif %}>
        {{ caption|e }}
      </a>
    </li>
  {% endfor %}
</ul>