
a {
	color:  #6c6c6c;
	font-size: 18px;
	font-weight: 700;
}

.active {
	color:  #d0ff00;
	font-size: 18px;
	font-weight: 700;
}

a.active {
	color:  #00ff0d;
	font-size: 18px;
	font-weight: 700;
}

li {
	color:  #ff00d4;
	font-size: 18px;
	font-weight: 700;
}